* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header h1 {
    padding: 10px;
    margin: 10px;
    color:white;
}

.header nav {
    padding: 8px;
    margin: 7px;
    margin-right: 10px;
    margin-top: 20px;
}

.header nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.header nav a:hover {
    background-color: white;
    color: lightgreen;
}


.main img{
    width: 100%;
    margin-top: 80px;
    height: 400px;
}

.drinks, .foods {
    display: flex;
    flex-direction: column;
}

.drink-type , .food-type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.drinks h1 , .foods h1{
    align-self: center;
    color: lightgreen;
    padding: 30px;
    margin: 15px;
}

.drinks img , .foods img{
    width: 150px;
    height: 150px;
    padding: 8px;
    border-radius: 50%;
}

.traditional-drinks , .non-traditional-drinks , .vegetarial , .non-vegetarial{
    display: flex;
    flex-direction: column;
}

.drinks .traditional-drinks h2, .drinks .non-traditional h2 , .vegetarial h2 , .non-vegetarial h2{
    align-self: center;
    padding: 10px;
    margin: 10px;
    color: lightgreen;
}

.tej, .tela, .areqe, .beer, .wine, .whisky, .aynet, .suf , .shuro, .gomen, .kitfo, .shekla, .doro, .kurt{
    display: flex;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1),0 4px 6px rgba(0, 0, 0, 0.05);
}

.tej:hover , .tela:hover , .areqe:hover, .beer:hover, .whisky:hover  ,.wine:hover , .aynet:hover, .suf:hover , .gomen:hover, .shuro:hover, .kurt:hover, .kitfo:hover, .shekla:hover, .doro:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description button {
    background-color: lightgreen;
    padding: 5px 0px;
    border: none;
    border-radius: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
}